.cursor-default{
    cursor: default;
}

.card-details{
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.card-description{
    margin-top: 24px;
    font-weight: 500;
}

.card-footer{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.old-price{
    text-decoration: line-through;
}

.stock-block{
    padding: 0.5rem;
    margin: 2px;
    border-radius: 4px;
    background-color: #0d6efd;
    color: white;
    font-weight: 400;
}

.out-of-stock-block{
    background-color: #dc3545;
}

