.filters{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}

.manufacturer-filter{
    max-width: 50% !important;
}

.products-list{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

